html, body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

span {
  color: #0f0f0f;
}

img {
  width: 100%;
  display: block;
}

.lt_content {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  /*padding-top: 45px;*/
  /*padding-bottom: 55px;*/
  overflow: hidden;
}

/*头部样式开始*/
.lt_contianer {
  width: 100%;
  height: 100%;
  max-width: 650px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  padding-top: 45px;
  padding-bottom: 55px;
  background-color: #fff;
}

.lt_header {
  width: 100%;
  height: 45px;
  max-width: 650px;
  min-width: 320px;
  background-color: #069;
  position: fixed;
  top: 0;
  z-index: 999;
}

.lt_header span {
  color: #fff;
}

.lt_header .lt_left,
.lt_header .lt_search {
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  position: absolute;
  top: 0;
}

.lt_header .lt_left {
  left: 0;
}

.lt_header .lt_search {
  right: 0;
}

.lt_title {
  width: 100%;
  height: 45px;
  text-align: center;
}

.lt_title h4 {
  line-height: 45px;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin: 0;
}

/*头部样式结束*/

/*底部样式开始*/
.lt_footer {
  width: 100%;
  height: 55px;
  background-color: #006699;
  position: fixed;
  bottom: 0;
  max-width: 650px;
  min-width: 320px;
  z-index: 999;
  
}

.lt_footer li {
  float: left;
  width: 25%;
  height: 45px;
  text-align: center;
  padding-top: 10px;
  
}

.lt_footer li.now span {
  color: darkorange;
}

.lt_footer li.now p {
  color: darkorange;
}

.lt_footer span {
  color: #fff;
}

.lt_footer p {
  color: #fff;
}

/*底部样式结束*/

/*商品区域开始*/

.lt_product {
  padding: 20px;
  
}

.lt_product .item {
  float: left;
  width: 48%;
  border: 1px solid #ccc;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
}

.lt_product .item:nth-child(odd) {
  margin-right: 4%;
}

.lt_product .item img {
  width: 100%;
  display: block;
  
}

.lt_product .item span {
  display: block;
}

.lt_product .item .oldPrice {
  color: red;
}

.lt_product .item span:last-child {
  text-decoration: line-through;
  margin-bottom: 10px;
}

/*商品区域结束*/